/{
    box-sizing: border-box;
  } 
  
  body {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    background: #76797c;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 20px;
} 

  ul {
      list-style-type: none;
  }

  li {
      display: inline-block;
      list-style-type: none;
      text-decoration: none;
      color: white;
      margin-left: 25px;
  }




  .MyName {
    margin: 10px;
    text-align: left;
    font-size: 45px;
    padding-bottom: 50px;
    float: left;
    background: #13293d;
    color: #fff;
  }

  .headerbottom {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./mosaicJPG.JPG");
    background-size: cover;
    background-position: center;
  }

  h2 {
    margin: 10px;
    height: 20px;
    width: 25%;
    float: right;
    text-align: center;
    font-size: 35px;
    padding-bottom: 50px;
    background: #13293d;
    color: #fff;
  } 
    

  .alignleft {
    height: 200px;
    width: 200px;
    float: left;
    text-align: right;
    padding-right: 10px;
    font-size: 60px;
    border-right: solid 5px;
    margin-right: 50px;
  }

  /* .alignright {
    width: 75%;
    float: right;
    text-align: left;
  } */
  .
  /* .workimages {
      display: flex;
      justify-content: space-between;
      

  }

  .card{
      display: flex;
      flex-direction:row;
      height: 200px;
      width: 50%;
      float: right;
      margin-left: 50px;
      flex: 1 0 200px;
      text-align: left;
      border-style: solid;
      border-width: 5px;
  }

  .card h2 {
    display: flex;
    float: left;
  }
  
  .card-colosseum {
    display: flex;
    flex-direction:row;
    height: 200px;
    width: 50%;
    float: right;
    margin-left: 50px;
    flex: 2 1 200px;
    text-align: left; */
    border-style: solid;
    border-width: 5px;

  } */

  /* @media screen and (max-width: 768px)  {
    .workimages {
        flex-direction: column;
        order: 3;
    }   */