*{
  box-sizing: border-box;
} 

/* using the root and var so I can ensure i'm using the same 4 colors throughout my webpage */
/* also these colors were recommended for website accessibility */
:root{
  --light: #e1f3f8;
  --teal: #046b99;
  --dark: #13293d;
  --white: #fff;
}

/* need to make sure display:flex is used in the main sections, esp body to help the elements of the page move while the screen size changes  */
/* /* also these fonts were recommended for website accessibility */

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background: var(--light);
  justify-content: center;
  color: var(--dark);
}

/* justify-content:space-between moved my nav bar to the right side*/
.headerbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: var(--teal);
}

.MyName {
  display:flex;
  font-size: 35px;
  background: var(--dark);
  color: var(--white);
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 5px;
}

.headerbox nav a {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  text-decoration: underline;
  color: var(--white);
  padding-right: 1em;
  
} 

.headerbox nav a:hover{
  color:  var(--dark);
  background-color: var(--white);
}

/* important to have display: inline-block to get the links in a row instead of a column */
.headerbox li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
  position: relative;
  height: 135px;
  width: 100%;
  background-image: url(../images/mosaic.JPG);
  display: flex;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  
}

.herotext {
  background-color: var(--white);
  color: var(--dark);
  font-size: 30px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.aboutme{
 display: flex;
 margin-bottom: 10px;
}

/* display:flex and justify-content:left get the headers on the left side of the page and they adjust accordingly as the screen size changes. */
.alignleft {
  display: flex;
  height: 100%;
  width: 20vw;
  justify-content: left;
  text-align: center;
  padding: 25px 50px 25px 0px;
  font-size: 45px;
  border-right: solid 5px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.aboutmesection{
 display: flex;
}

.aboutmesection p{
  margin: 5px;
}
 #pictureofme {
    display: inline-flex;
    height: 158px;;
    width: 143.5;
    justify-content: left;
    margin: 5px;
  }

.work {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    
}

.alignright {
  width: 70%;
  justify-content: center;
  font-size: 20px;
}

/* height sets it to twice the height of the other images */
.bigcard{
  display: flex;
  height: 200px;
  align-items: flex-end;
  border: 5px solid var(--teal);
  background: url(../images/colosseum.JPG) center/cover no-repeat;
  margin-bottom: 10px;
  margin-right: .5%;
}

/* width is set to 49% so both cards can sit on the same row, inline-flex also helpes with this */
.cardseaotter{
  display: inline-flex;
  height: 100px;
  align-items: flex-end;
  border: 5px solid var(--teal);
  flex: 1;
  width: 49%;
  background-image: url(../images/seaotter.JPG);
  margin-bottom: 10px;
  margin-right: 1%;
}

.cardherc{
  display: inline-flex;
  height: 100px;
  width: 49%;
  background-image: url(../images/herc.JPG);
  align-items: flex-end;
  border: 5px solid  var(--teal);
  flex: 1;
  margin-bottom: 10px;
}

.cardsisters{
  display: inline-flex;
  height: 100px;
  width: 49%;
  background-image: url(../images/sisters.JPG);
  align-items: flex-end;
  border: 5px solid var(--teal);
  flex: 1;
  margin-bottom: 10px;
  margin-right: 1%;
}

.cardNaples{
  display: inline-flex;
  height: 100px;
  width: 49%;
  background-image: url(../images/naples.JPG);
  align-items: flex-end;
  border: 5px solid var(--teal);
  flex: 1;
  margin-bottom: 10px;
}

/* this hover feature will transform the size of the image when you over the mouse of it */
.expand:hover{
  transform: scale(1.2);
  
  }

  /* to ensure that these rows have two cards in them */
.cardrow
.cardrow2 {
  width: 100%;
}

.cardall{
  background-color:  var(--teal);
  color: var(--white);
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}


.cardall:hover{
  background-color: var(--dark);
  color: var(--white);
}

.card h2 {
  height: 20px;
  width: 25%;
  display: flex;
  text-align: center;
  font-size: 35px;
  padding-bottom: 50px;
  background: var(--dark);
  color: var(--white);
  position: absolute;
  bottom: 10%;
  left: 10%;
} 

/* the combo of display flex and align-items:center was how the bottom links became located towrd the middle of the contact me title */
  .contactme {
    display: flex;
    height: 150px;
    align-items: center;

  }

  .contactme a {
    display: inline-flex;
    font-size: 20px;
    text-decoration: underline;
    color: var(--dark);
    padding-right: 1em;
  } 
  
  /* this hover changes the font color and background cover of the links when cursor hovers over the links */
  .contactme a:hover{
    color: var(--white);
    background-color: var(--dark);
  }
  
  /* these were needed to help the website go from desktop to tablet to cell phone. */
  
  /* This one is for cell phones */
  @media screen and (max-width: 667px) {
    body  {
      display: flex;
        width:100%;
        background-color: var(--light);
    }
    .headerbox{
        display: flex;
        width:100%;
      }

    .MyName{
          width:100%;
    }
    .headerbox nav a {
        display: flex;
        justify-content: space-between;
        width:100%;
        top: 10px;
        font-size: 15px;
    }
    .hero {
        width:100%;
    }

    /* flex-end was necessary to get the text in the correct location within the screen */
    .herotext {
      display: flex;
      justify-content: flex-end;
      width:100%;
      font-size: 20px;
      margin: 5px;
  }

  /* the sections because columns using flex-direction: column; for easier phone reading */
    .aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    }

    .alignleft {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      font-size: 40px;
      border: solid 5px;
    }

    .aboutmesection {
      display: flex;
      flex-direction: column;
      width:100%;
      justify-content: center;

    }

    /* its not longer on the same line as my image so can take up more space */
    .aboutmesection p {
      width:100%;
    }

    #pictureofme {
      justify-content: center;
      width:100%;
      height: 158px;
      width: 143.5px;
    }

      /* the sections because columns using flex-direction: column; for easier phone reading */

    .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
      }
    
    .alignright {
      display: flex;
      flex-direction: column;
      width:100%;
      justify-content: center;
      }
    
      /* all of the cards are within their own rows now so they all now have 100% view screen */
    .bigcard{
        width:100%;
        height:100px;
    }

    .cardseaotter{
        width:100%;
        height:100px;
    }

    .cardherc{
      width:100%;
      height:100px;
    }

    .cardsisters{
      width:100%;
      height:100px;
    }

     .cardNaples {
      width:100%;
      height:100px;
    }

    .cardrow
    .cardrow2 {
       width: 100%;
  } 
    .card h2 {
        width:100%;
        height:70px;
        padding-left: 40px;
        bottom:10px;
    }
    
    /* done to get the contact me to the correct size */
    .contactme {
      display: flex;
      width:50%;
      
    }
 /* had to change font sizes to fit */
    .contactme a  {
      display: flex;
      justify-content: flex-start;
      width:100%;
      top: 10px;
      font-size: 15px;
      margin: 5px;
    
  }
}

/* slight changes made to fix the stacking of the work images */
@media screen and (min-width: 768px) and (max-width: 1025px) {
  
  body  {
      display: flex;
      width:100%;
      background-color: var(--light);
  }
  .headerbox{
      display: flex;
      width:100%;
    }

  .headerbox nav a {
      display: flex;
      width:100%;
      top: 10px;
      font-size: 18px;
  }
  .alignleft {
    display: flex;
    height: 100%;
    width: 18vw;
    justify-content: left;
    text-align: center;
    padding: 25px 50px 25px 0px;
    font-size: 35px;
    border-right: solid 5px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  .work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
      }
    
    .alignright {
      display: flex;
      justify-content: right;
      width:100%;
      }

      .column {
        display: flex;
        flex-direction: column; 
        justify-content: right;
        width:100%;
        }
      /* similar to cellphone, all images now in own row so they take up 100% */
    .bigcard{
        width:100%;
        height:100px;
    }

    .cardseaotter{
        width:100%;;
        height:100px;
    }

    .cardherc{
      width:100%;
      height:100px;
    }

    .cardsisters{
      width: 100%;
      height:100px;
    }

     .cardNaples {
      width: 100%;
      height:100px;
    }

    .cardrow
    .cardrow2 {
       width: 100%;
  } 

  .contactme {
    display: flex;
    
  }

  /* changes font to it fit on page */
  .contactme a  {
    display: flex;
    width:100%;
    top: 10px;
    font-size: 18px;
  
}

}
  