*{
  box-sizing: border-box;
} 

:root{
  --light: #e1f3f8;
  --teal: #046b99;
  --dark: #13293d;
  --white: #fff;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background: var(--light);
  justify-content: center;
  color: var(--dark);
}

.headerbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: var(--teal);
}

.MyName {
  display:flex;
  font-size: 35px;
  background: var(--dark);
  color: var(--white);
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 5px;
}

.headerbox nav a {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  text-decoration: underline;
  color: var(--white);
  padding-right: 1em;
  
} 

.headerbox nav a:hover{
  color:  var(--dark);
  background-color: var(--white);
}

.headerbox li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
  position: relative;
  height: 135px;
  width: 100%;
  background-image: url('./images/mosaic.JPG');
  display: flex;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  
}

.herotext {
  background-color: var(--white);
  color: var(--dark);
  font-size: 30px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.aboutme{
 display: flex;
 margin-bottom: 10px;
}

.alignleft {
  display: flex;
  height: 100%;
  width: 20vw;
  justify-content: left;
  text-align: center;
  padding: 25px 50px 25px 0px;
  font-size: 45px;
  border-right: solid 5px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.aboutmesection{
 display: flex;
}

 #pictureofme {
    display: inline-flex;
    height: 158px;;
    width: 143.5;
    justify-content: left;
    margin: 5px;
  }

.work {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    
}

.alignright {
  width: 70%;
  justify-content: center;
  padding: 0px 25px;
  font-size: 20px;
}

.card{
  display: flex;
  flex-wrap: wrap;
}

.bigcard{
  display: flex;
  height: 200px;
  align-items: flex-end;
  border: 5px solid var(--teal);
  flex: 1;
  background: url(./images/colosseum.JPG) center/cover no-repeat;
  margin-bottom: 10px;
  margin-right: .5%;
}

.cardseaotter{
  display: inline-flex;
  height: 100px;
  align-items: flex-end;
  border: 5px solid var(--teal);
  flex: 1;
  width: 49%;
  background-image: url(./images/seaotter.JPG);
  margin-bottom: 10px;
  margin-right: 1%;
}

.cardHerculaneum{
  display: inline-flex;
  height: 100px;
  width: 49%;
  background-image: url(./images/herc.JPG);
  align-items: flex-end;
  border: 5px solid  var(--teal);
  flex: 1;
  margin-bottom: 10px;
}

.cardsisters{
  display: inline-flex;
  height: 100px;
  width: 49%;
  background-image: url(./images/sisters.JPG);
  align-items: flex-end;
  border: 5px solid var(--teal);
  flex: 1;
  margin-bottom: 10px;
  margin-right: 1%;
}

.cardNaples{
  display: inline-flex;
  height: 100px;
  width: 49%;
  background-image: url(./images/naples.JPG);
  align-items: flex-end;
  border: 5px solid var(--teal);
  flex: 1;
  margin-bottom: 10px;
}

.expand:hover{
  transform: scale(1.2);
  
  }

.cardrow{
  width: 100%;

}

.cardrow2 {
  width: 100%;
}


.cardall{
  background-color:  var(--teal);
  color: var(--white);
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}


.cardall:hover{
  background-color: var(--dark) !important;
  color: var(--white) !important;
}

.card h2 {
  height: 20px;
  width: 25%;
  display: flex;
  text-align: center;
  font-size: 35px;
  padding-bottom: 50px;
  background: var(--dark);
  color: var(--white);
  position: absolute;
  bottom: 10%;
  left: 10%;
} 

  .contactme {
    display: flex;
    height: 150px;

  }

  footer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: underline;
    color: var(--dark);
    padding-right: 1em;
  } 
  
  footer a:hover{
    color: var(--white);
    background-color: var(--dark);
  }
  
 
  /* @media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio:1)  {
 
  } */

 @media screen and (max-device-width: 667px){
 
  .aboutme, .aboutmesection {
    display:flex;
    flex-direction: column;
 }

 #pictureofme {
   height: 250px !important;
   width: 250px !important;
 }


 #work {
   display: flex;
   flex-direction: column !important;
 }
 /* .cardNaples
 .cardseaotter
 .cardsisters
 .cardHerculaneum {

  width: 75%;
  align-items: center; */

  .bigcard {
    width: 47%
  }
 }


 /* @media screen 
 and (min-device-width: 1024px)
 and (max-device-width: 1366px)
 and (-webkit-min-device-pixel-ratio:2)  {

 } */

 