*{
  box-sizing: border-box;
} 

:root{
  --light: #e1f3f8;
  --teal: #046b99;
  --dark: #13293d;
  --white: #fff;
}

.bottom {
  bottom: 0;
  position: absolute;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  background: #e1f3f8;
  justify-content: center;
  color: #13293d;
	/* background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
  /* background-color: rgb(33, 113, 119); */
}

.containerheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background: #046b99;
}

.containerheader nav a {
  justify-content: flex-end;
  float: right;
  font-size: 20px;
  text-decoration: underline;
  color: white;
  padding-right: 1em;
  
} 

.containerheader nav a:hover{
  color:  #13293d;
  background-color: white;
}

.containerheader li {
    display: inline-block;
    margin-left: 25px;
}

.MyName {
  display:inline-block;
  /* text-align: center; */
  font-size: 35px;
  /* position: relative; */
  background: #13293d;
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 5px;
}

.hero {
  position: relative;
  height: 135px;
  width: 100%;
  background-image: url('./images/mosaic.JPG');
  display: flex;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  
}

.herotext {
  background-color: white;
  color: #13293d;
  font-size: 30px;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.aboutme{
 display: flex;
 margin-bottom: 10px;
}

.alignleft {
  display: flex;
  height: 150px;
  width: 20vw;
  float: left;
  text-align: right;
  padding: 25px 50px 25px 0px;
  font-size: 45px;
  border-right: solid 5px;
  /* border-length: auto; */
  margin-right: 50px;
  margin-bottom: 10px;
}

/* is this section why i'm having trouble with spacing? */
.alignrightaboutme {
  width: 70%;
  float: right;
  padding: 0px 25px;
  font-size: 20px;
}

.alignright {
  width: 70%;
  float: left;
  padding: 0px 25px;
  font-size: 20px;
}

.work {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
    
}

/* .alignleftwork {
  display: flex;
  height: 420px;
  width: 20vw;
  float: left;
  text-align: right;
  padding: 25px 50px 25px 0px;
  font-size: 45px;
  border-right: solid 5px;
  margin-right: 50px;
  margin-bottom: 10px;
} */

.card{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* width: 70%; */
  /* background-size: auto; */
}

.bigcard{
  display: flex;
  height: 200px;
  align-items: flex-end;
  border: 5px solid #046b99;
  flex: 1;
  /* height: 200px;
  width: 400px; */
  /* width: 70%; */
  background: url(./images/colosseum.JPG) center/cover no-repeat;
  /* background-size: auto; */
  margin-bottom: 10px;
  margin-right: .5%;
}

.cardseaotter{
  display: inline-flex;
  height: 100px;
  align-items: flex-end;
  border: 5px solid #046b99;
  flex: 1;
  /* position: relative;
  flex: 1 0 200px;
  height: 200px;
  width: 400px; */
  width: 49%;
  background-image: url(./images/seaotter.JPG);
  /* background-size: auto; */
  margin-bottom: 10px;
  margin-right: 1%;
}

.cardHerculaneum{
  /* position: relative; */
  display: inline-flex;
  height: 100px;
  /* flex: 1 0 200px; */
  /* height: 200px; */
  width: 49%;
  /* width: 70%; */
  background-image: url(./images/herc.JPG);
  /* background-size: auto; */
  align-items: flex-end;
  border: 5px solid  #046b99;
  flex: 1;
  margin-bottom: 10px;
}

.cardsisters{
  /* position: relative; */
  display: inline-flex;
  height: 100px;
  width: 49%;
  /* flex: 1 0 200px;
  height: 200px;
  width: 400px; */
  /* width: 70%; */
  background-image: url(./images/sisters.JPG);
  /* background-size: auto; */
  align-items: flex-end;
  border: 5px solid  #046b99;
  flex: 1;
  margin-bottom: 10px;
  margin-right: 1%;
}

.cardNaples{
  /* position: relative; */
  display: inline-flex;
  height: 100px;
  width: 49%;
  /* flex: 1 0 200px; */
  /* height: 200px; */
  /* width: 400px; */
  /* width: 70%; */
  background-image: url(./images/naples.JPG);
  /* background-size: auto; */
  align-items: flex-end;
  border: 5px solid #046b99;
  flex: 1;
  margin-bottom: 10px;
}

.opaque:hover{
  /* opacity: 0.5; */
  transform: scale(1.2);
  
  }

.cardrow{
  width: 100%;

}

.cardrow2 {
  width: 100%;
  /* flex: unset; */
  /* flex-direction: row; */
}


.cardall{
  background-color:  #046b99;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}


.cardall:hover{
  background-color: #13293d !important;
  color: white !important;
}

.card h2 {
  /* margin: 10px; */
  height: 20px;
  width: 25%;
  display: flex;
  /* float: left; */
  /* float: right; */
  text-align: center;
  font-size: 35px;
  padding-bottom: 50px;
  background: #13293d;
  color: #fff;
  position: absolute;
  bottom: 10%;
  left: 10%;
} 

  .contactme {
    display: flex;
    height: 150px;

  }

  footer a {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
    /* text-align: center; */
    /* float: center; */
    /* position: relative; */
    font-size: 20px;
    text-decoration: underline;
    color: #13293d;
    padding-right: 1em;
  } 
  
  footer a:hover{
    color: white;
    background-color: #13293d;
  }
  
  footer li {
      display: inline-block;
      list-style-type: none;
      text-decoration: none;
      /* color: white; */
      margin-left: 25px;
  }
  
  #pictureofme {
    display: inline-flex;
    height: 158px;;
    width: 143.5;
    /* float: left; */
  }

  /* @media screen 
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio:1)  {
 
  } */

 @media screen and (max-device-width: 667px){
  .alignleft {
    display:flex;
    border-right: none;
    border-bottom: 5px solid;
    text-align: center;
 }

 /* .cardNaples
 .cardseaotter
 .cardsisters
 .cardHerculaneum {

  width: 75%;
  align-items: center; */

  .bigcard {
    width: 47%
  }
 }


 /* @media screen 
 and (min-device-width: 1024px)
 and (max-device-width: 1366px)
 and (-webkit-min-device-pixel-ratio:2)  {

 } */

 